*.o
*.a
*.cmd
*.tmp
*.so
*.deb
build/
include/autoconf.mk*
include/config.h
include/generated/
tools/generated/
spl/
.config
.config.*
.tmp_*
u-boot
u-boot.bin
u-boot.dtb
u-boot.img
u-boot.srec
u-boot.sym
u-boot.lds
u-boot.map
u-boot.cfg*
u-boot-dtb.bin
u-boot-dtb.img
u-boot-nodtb.bin
u-boot-rockchip.bin
u-boot.itb
idbloader.img
mkimage-*
simple-bin*
arch/arm/dts/*.dtb
arch/arm/dts/*.dts.tmp
*.su
*.s
*.lex.c
*.tab.c
*.tab.h
System.map
.binman_stamp
include/config/
dts/dt.dtb
u-boot-spl.dtb.out
u-boot.dtb.out
scripts/dtc/pylibfdt/
